
html, body {
    margin: 0;
    height: 100%;
    font-family: 'Courier New', Courier, monospace
}
body {
    height: 100%;
    background-color: burlywood;
    display: flex;
    flex-flow: column;
}


#heading, #top-container, #bottom-container {
    display: flex;
}

#heading {
    height: 150px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bolder;
    gap: 25px;
}

#top-container {
    margin: 50px;
    flex-flow: row nowrap;
    height: auto;
    justify-content: center;
    gap: 250px;
    align-items: center;
}

#bottom-container {
    margin: 50px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.player-stat, .computer-stat {
    border: 2px solid black;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

img {
    max-height: 200px;

}

.champion {
    max-height: 300px;
}

button {
    width: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 6px 6px;
}